<!DOCTYPE html>
<html lang="en" ng-app="musicStore">
<head>
    <meta charset="utf-8">
    <title>Random Question Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Random Question Paper (Noransoft Assignment)<h2>
    <h3>Seaction A (10 questions - 1 mark each)</h3>
    <h5>Difficulty level Easy</h5>
    {% for s in A_easy %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
    <h5>Difficulty level Medium</h5>
    {% for s in A_medium %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
    <h5>Difficulty level Hard</h5>
    {% for s in A_hard %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}

    <h3>Seaction B (4 questions - 5 marks each)</h3>
    <h5>Difficulty level Easy</h5>
    {% for s in B_easy %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
    <h5>Difficulty level Medium</h5>
    {% for s in B_medium %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
    
    <h3>Seaction C (4 questions - 10 marks each)</h3>
    <h5>Difficulty level Medium</h5>
    {% for s in C_medium %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
    <h5>Difficulty level Hard</h5>
    {% for s in C_hard %}
        Q{{ forloop.counter }}. {{ s.Qtext }}
        <br>
        <textarea></textarea>
        <br>
    {% endfor %}
</body>
</html>